@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

html {
    margin: 0;
    padding: 0;

}

body{
    
    
    background-color: rgb(238, 238, 238);
    margin: 0;
    font-family: 'cairo', 'arial';
    
}
.sign-container{
    position: relative;
    max-width: 800px;

    border: 2px  solid rgb(32, 30, 67);
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(32, 30, 67, 0.5);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    margin: 50px auto 50px auto;
    
}

.left-sign-container{

    width: 50%;
    display: grid;
    justify-items: center;
}


.header {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.header-title {
    text-decoration: none;
    font-size: 50px;
    color: white;
    font-family: "Aref Ruqaa", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 50px rgba(255, 255, 255, .3);
    z-index: 1;
    margin-block: 20px;
}
.header>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-shadow: 1px 1px 50px rgba(255, 255, 255, .3);
}
.header > div > h1 {
    font-size: 24px;
    color: white;
    margin: 0;
    z-index: 1;
}
.header > div > p {
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    z-index: 1;
}

.curve-background{
    position: absolute;
    display: inline-table;
    top: -0px;
    right: -0px;
    width: 50%;
    height: 100%;
    z-index: 0;
    clip-path: ellipse(100% 85% at 100% 50%);
    background: rgb(32, 30, 67);
    
}

section{
    width: 100%;
    
}


.sing-sec-title {
    color: rgb(32, 30, 67);
    margin-block: 10px 10px;
    text-align: center;
}
.sign-sec-input {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 20px;
    margin-block: auto;
    
}
.sign-input {
    box-sizing: border-box;
    margin: 5px 0 0 0;
    padding: 0 7px 0 10px;
    width: 100%;
    height:43px;
    border-radius: 10px;
    border-style: solid;
    border-color:  rgb(32, 30, 67);

    transition: .5s;
}

.sign-input:focus,
.sign-input:hover {
    box-shadow: 0px 10px 20px rgba(32, 30, 67, 0.5);
    outline: none;
}

.sign-sec-label {
    display: block;
    font-weight: bold;
    color: #34495e;
    
    
}
.last-label{
    text-align: center;
}

.sign-sec-btn {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 7px 0 10px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(32, 30, 67);
    font-size: 16px;
    background-color: white ;
    cursor: pointer;
    font-size: 24px;
    transition: .5s;

}.sign-sec-btn:hover {
    background-color: rgb(32, 30, 67);
    color: white;
    box-shadow: 0px 0px 20px rgba(32, 30, 67, 0.5);
    transform: translate(2px, -2px);
}
.sign-sec-btn:active{
    transform: translate(-5px, 5px);
}

@media (width<850px) {
    .sign-container{
        flex-direction: column;
        max-width: 400px;
    }
    .left-sign-container{
        width: 80%;
    }
    .sign-sec-input {
        width: 90%;
    }
    .curve-background{
        
        transform: rotate(-90deg);
        width: 100%;
        height: 80%;
        top:-200px
        
    }
    section{
        padding-inline: 2px;
    }
}



