@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

html {
    margin: 0;
    padding: 0;
    
}

body{
    padding-block: 40px 0;
    background-color: rgb(238, 238, 238);
    margin: 0;
    font-family: 'cairo', 'arial';
    
}

.sign-sec{
    width: 100%;
    height: 800px;
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.sing-sec-title {
    color: rgb(32, 30, 67);
    margin-block: 30px 10px;
    text-align: center;
}
.sign-sec-input {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 10px;
    margin-block: auto;
    
}
.sign-input {
    box-sizing: border-box;
    margin: 5px 0 0 0;
    padding: 0 7px 0 10px;
    width: 100%;
    height:43px;
    border-radius: 10px;
    border-style: solid;
    border-color:  rgb(32, 30, 67);

    transition: .5s;
}

.sign-input:focus, select:focus, textarea:focus {
    box-shadow: 0px 10px 20px rgba(32, 30, 67, 0.3);
    outline: none;
}

.sign-sec-label {
    display: block;
    font-weight: bold;
    color: #34495e;
    
}

.sign-sec-btn {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 7px 0 10px;
    border-style: solid;
    border-radius: 10px;
    color: rgb(32, 30, 67);
    font-size: 16px;
    background-color: white ;
    cursor: pointer;
    font-size: 24px;
    margin-top: 10px;
}.sign-sec-btn:hover {
    background-color: rgb(32, 30, 67);
    color: white;
    box-shadow: 0px 0px 20px rgba(32, 30, 67, 0.5);
}



.sign-container{
    max-width: 500px;
    border: 2px  solid rgb(32, 30, 67);;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(32, 30, 67, 0.5);
    
    margin: auto;
    display: grid;
    justify-items: center;
    
}

.user-tybe-div {
    display: flex;
    gap: 20px;
}
.user-tybe-div > label {
    display: flex;
    gap: 2px;
} 

input[type='radio'] {
    accent-color: rgb(32, 30, 67);
}
.user-tybe {
    width: 25px;
    height: 25px;
    
}
.user-tybe:checked {
    background-color: rgb(32, 30, 67);
}


